%p
  Congratulations, Viziframe is running fine and you can start working on your application. There is no access control on this page.

%p
  You can play around with this prototype by changing the following:

%ul
  %li
    Changing the content of static pages like this one
  %li
    Changing the access control on static pages
  %li
    Adding new users
  %li
    Adding new posts and comments

%p
  This administrator default identifiers are email-address = 'admin' and password = 'myadmin'.

%p
  For more information, check out 
  %a{:href=>"http://ramaze.net"} ramaze.net
  and 
  %a{:href=>"http://ramaze.net/documentation/index.html"} the documentation
